.w-1296{
    width: 1296px;
    margin-right: auto;
    margin-left: auto;
}
.header h1{
    float: left;
}
.header h1 a{
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin: 8px 12px 8px 12px;
    width: 129px;
    height: 46px;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week1/logo.svg);
}
.header a{
    margin-left: auto;
}

.hero{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 151px;
    padding-bottom: 151px;
    text-align: center;
}
.hero h1{
    margin-bottom: 16px;
}
.block{
    text-align: center;
}
.eng-title{
    font-style: 28px;
}
.container{
	width:856px;
	margin: 0 auto;
}
.intro img{
    width: 1076px;
    margin-left: -110px;
    margin-right: -110px;
}
.section-line{
    border-bottom: 1px solid var(--neutral-300);
}
.brand-history span{
    border-right: 1px solid var(--neutral-900);
    padding-right: 4px;
    margin-right: 4px;
}
.brand-history ol{
    margin-left: -16px;
    list-style: disc;
}
.brand-history{
    border-bottom: 1px solid var(--neutral-300);
}
.brand-concept li{
    border-left: 3px solid var(--neutral-300) ;
    margin-left: -40px;
    padding-left: 12px;
}
.brand-concept{
    border-bottom: 1px solid var(--neutral-300);
}
.brand-story a {
  
  padding: 8px 0; /* 這樣上下都會有效果 */
}
.brand-story{
    border-bottom: 1px solid var(--neutral-300);
}
.footer{
    text-align: center;
    background-color: var(--neutral-100);
}
.copyright{
    text-align: center;
    padding-top: 64px;
 
}
.copyright p{
       color: var(--neutral-600);
       font-weight: 400;
}
.link{
    border-bottom: 1px solid var(--neutral-300);
}
.link a{
    display: block;
}
.link a :hover{
    color: var(--primary-300);
}
.banner{
    margin-left: -312px;
    margin-right: -312px;
    background-color: var(--primary-200);
    text-align: center;
}