.banner{
    margin-left: auto;
    margin-right: auto;
    background-color: $primary-200;
    text-align: center;
}
.btn-dark{
    background-color: $neutral-900;
    color: $neutral-0;
}
.copyright{
    text-align: center;
}
.copyright p{
       color: $neutral-600;
       font-weight: 400;
}
.link{
    border-bottom: 1px solid $neutral-300;
}
.link a :hover{
    color: $primary-300;
}
.footer{
    background-color: $neutral-100;
}