.container{
    width: 1296px;
    margin: 0 auto;
}
.header ul{
    margin-right: auto;
}
.container .nav a{
    display: block;
    padding: 12px;
}
.logo{
    padding: 8px 8px 12px 12px;
    margin-right: 48px;
}
nav a{
    display: block;
}
nav span{
    color: var(--neutral-300);
    padding-left: 12px;
    margin-right: 12px;
    font-weight: 700;
}
.btn {
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background-color:transparent;
}

.page-item .btn{
    padding: 8px 15px;
    border-radius: 0;
}
.page-item .btn {
    color: var(--neutral-900);
    font-weight: 400;
}
.page-item .active{
    background-color: var(--primary-300);
}
.page-item .active {
        font-weight: 500;
}
.banner{
    margin-left: -312px;
    margin-right: -312px;
    background-color: var(--primary-200);
    text-align: center;
}
.btn-dark{
    background-color: var(--neutral-900);
    color: var(--neutral-0);
}
.copyright{
    text-align: center;
    padding-top: 64px;
 
}
.copyright p{
       color: var(--neutral-600);
       font-weight: 400;
}
.link{
    border-bottom: 1px solid var(--neutral-300);
}
.link a :hover{
    color: var(--primary-300);
}