
.container .nav a{
    display: block;
    padding: 12px;
}
nav a{
    display: block;
}
nav span{
    color: $neutral-300;
    padding-left: 12px;
    margin-right: 12px;
    font-weight: 700;
}
@media(max-width:767px){
    nav span{
    padding-left: 8px;
    margin-right: 8px;
    }
}

.page-item .btn{
    padding: 8px 15px;
    border-radius: 0;
}
.page-item .btn {
    color: $neutral-900;
    font-weight: 400;
}
.page-item .active{
    background-color: $primary-300;
}
.page-item .active {
        font-weight: 500;
}

