.collecttion-container{
    max-width: 636px; 
    margin-right: auto;
    margin-left: auto;
}

.check-style{
    background-color:$primary-300;
    color: $primary-500;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coll-banner{
    color: $primary-400;
    background-color: $primary-100;
    padding: 16px;
    display: flex;
    align-items: center;
}
.coll-banner p{
    color: $primary-400;
}
.truck-style{
    font-size: 24px;
}
.pd-info img{
    width: 120px;
    height: 120px;
    margin-right: 16px;
    margin-left: 0px;
}
.pd-info{
    border-bottom: 1px solid $neutral-300;
}